<section class="login-page">
  <div class="login-page__card">
    <a class="login-page__logo">
      Emotion Diary
    </a>

    <h4 class="login-page__title">Вход</h4>

    <form class="login-page__form">
      <tui-textfield class="login-page__field">
        <input
          tuiInput
          type="email"
          placeholder="Email"
          [formControl]="emailControl"
        />
      </tui-textfield>

      <tui-textfield class="login-page__field">
        <input
          tuiInput
          type="password"
          placeholder="Пароль"
          [formControl]="passwordControl"
        />
      </tui-textfield>

      <button
        tuiButton
        appearance="primary"
        size="m"
        type="button"
        class="login-page__submit"
      >
        Войти
      </button>
    </form>

    <a routerLink="/register" class="login-page__link">
      Нет аккаунта? Зарегистрироваться
    </a>
  </div>
</section>
